* {
    margin: unset
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body {
    background-color: #3A3A3A;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 23px;
    align-items: start;
    margin: 10px 0 0 15px;
    font-weight: 400;
}

.icons-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

.icon {
    cursor: pointer;
    transition: color 0.2s;
}

.icon:hover {
    color: #0062ff;
}

.bottom-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E3E3E3;
    padding: 8px 0 8px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.prompt-input {
    border: none;
    padding: 7px;
    width: 80%;
    background-color: #C5C5C5;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.prompt-input:focus {
    outline: none;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 100px 20px 50px;
}

.msg-container {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
}

.icon-start {
    align-self: flex-start;
}

.sender {
    font-weight: 500;
    font-size: 23px;
    color: rgb(221, 221, 221);
    margin-bottom: 10px;
}

.msg {
    align-self:flex-end;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.auto-awesome {
    color: #0062ff;
}
